# Lab 9
### DSCI 510 / USC / Hermjakob section / Spring 2025
---
Hello and welcome to DSCI 510's lab 9.

Guidelines for the Lab:

- Please write and submit the two programs below by the deadline: Wednesday, April 9, at 11:00am Pacific time (extra time as HW3 is due on April 7)

- You must complete the assignments individually. If you have trouble completing the assignment, please let the teaching assistant (TA) know, during the lab or his office hours. He will help and guide you, but he will not write code for you and no one else should :) !!!  

- You have to fill in the code in this notebook and upload it back to Brightspace for submission. Please remember to rename your file as "Lab9_[YOUR FIRSTNAME]_[YOUR LASTNAME].ipynb" (e.g. Lab9_George_Washington.ipynb).

- You may look up resources online like python docs and stackoverflow. You may look up topics, but not the questions themselves.

Today, we are going to write some queries in order to create and manipulate __database__ tables.  

Info about sqlite python module: https://docs.python.org/3/library/sqlite3.html

For executing queries, this is the lifecycle that you'll follow:  
1. Import the library `sqlite3`  
2. Create a connection to the database using `sqlite3.connect()`  
3. Create a cursor from the connection object we just created  
4. Execute queries to the database using the cursor object and the execute function.  
5. Lastly, make sure to commit and close the connection. (Likely to face problems if you forget this. In the worst case, try to restart the kernel.)

Q1: Simple SQL Table [10 points] 
---
In this question, you have to create a database, create a table, insert two rows of data and fetch all rows and return that list data. Information on the same is as below:  
database name : 'lab9.db'  
table name : 'sample_table'  
    - columns in the table : (name(text), age(integer), address(text))  

first row data : ('Sherlock Holmes', 38, '221 B Baker Street')  
second row data : ('Harry Potter', 17, 'Station 9 3/4, London') 

Note: You may want to drop the table before you create it.

In [21]:
import sqlite3

def sample_data():
    name = ['Sherlock Holmes', 'Harry Potter']
    age = [38, 17]
    address = ['221 B Baker Street', 'Station 9 3/4, London']
    
    with sqlite3.connect('lab9.db') as connection:
        cursor = connection.cursor()
        cursor.execute('DROP TABlE IF EXISTS sample_table')
        cursor.execute("CREATE TABLE sample_table(name TEXT, age INT, address TEXT)")
        for i in range(len(name)):
            cursor.execute(f"INSERT INTO sample_table (name, age, address) VALUES ('{name[i]}','{age[i]}','{address[i]}')")
        for row in cursor.execute('SELECT name, age, address FROM sample_table'):
            print(f'name: {row[0]}, age: {row[1]}, address: {row[2]}')
        
        connection.commit()     
    

sample_data()

name: Sherlock Holmes, age: 38, address: 221 B Baker Street
name: Harry Potter, age: 17, address: Station 9 3/4, London

Q2: Build the Titanic [10 points] 
---
Create a function which creates the SQL table of the __Titanic__ dataset.

To read the data from `titanic_data.csv`, you may use the `cvs` library.

Table name: Titanic  
Column names should be the same as the first row of the dataset and the types should be from integer, real or text as required.  
PassengerId should be the primary key of the table.

Insert the whole dataset into an SQL table and run this query: `SELECT * FROM Titanic where PassengerId is 75`. Return output of query from the function.

In [ ]:
import sqlite3

def build_titanic(filename: str, cur: sqlite3.Cursor) -> None:
    pass

def query_titanic_by_passenger_id(passenger_id: int, cur: sqlite3.Cursor) -> list:
    pass

In [ ]:
conn = sqlite3.connect('titanic.sqlite')
cur = conn.cursor()

build_titanic('titanic_data.csv', cur)
print(query_titanic_by_passenger_id(75, cur))
print(query_titanic_by_passenger_id(6, cur))
print(query_titanic_by_passenger_id(58, cur))

cur.close()
conn.commit()
conn.close()

Q3: [10 points] 
---
For this question, you have to write queries on the `Titanic` for the following questions and print the output for them.  
1. Get all rows of data where Pclass is 1.
2. Get information of all females who survived.
3. Get information of people who did not survive and were below 24 years of age. Order your output by age in ascending order.
4. Get the information of the person who has paid the highest fair.
5. Update all fares with value 0 to the average of the fares without 0.

In [ ]:
# Query 1
print('Query 1 output')
# Write code here

In [ ]:
# Query 2
print('Query 2 output')
# Write code here

In [ ]:
# Query 3
print('Query 3 output')
# Write code here

In [ ]:
# Query 4
print('Query 4 output')
# Write code here

In [ ]:
# Query 5
print('Query 5 output')
# Write code here